
<h1>Login</h1>

<div class="box">
  
  <form class="form" id="formLogin">
    <div class="etiqueta">
      <label for="input_email">EMAIL</label> <input id="input_email" type="email" placeholder="email"><br> 
    </div> 
    <div class="etiqueta">
      <label for="input_password">PASSWORD</label> <input id="input_password" type="password" placeholder="password"><br>
    </div>   
    <button type="submit">Enviar</button>
  </form>
</div>

<script src="/js/login.js"></script>